<h1>student</h1>
name: <%= @student.name %><br>
surname: <%= @student.surname %><br>
number: <%= @student.number %><br>
code: <%= @student.code %><br><br>

<%= link_to "Öğrenci Formunu Sil" %> <br>
<%= link_to "Geri Dön", students_path %>
