<div class="mx-auto">
  <form class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Form Girişi</h1>
        <p>Buradan size gönderilen <code>Sınıf Kodu</code>'nu ve <code>Şifre</code>'yi yazarak forma gidebilirsiniz. </p>
      </div>

      <div class="mx-auto" style="width: 200px;">
        <%= form_tag form_init_path, method: "get" do %>
          <p>Sınıf Kodu:<br> <%= text_field_tag :number %></p>
          <p>Şifre:<br> <%= text_field_tag :code %></p>
          <%= submit_tag "Forma Git", class: "btn btn-warning" %>
        <% end %>
        <br/><br/><br/>
        <% if flash[:notice] %>
          <div class="alert alert-danger" role="alert"><%= flash[:notice] %></div>
        <% end %>
      </div>
  </form>
</div>