<div class="mx-auto">
  <form class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Form Girişi</h1>
        <p>Buradan <code>Öğrenci Numarası</code>'nı ve size gönderilen <code>Kod</code>'u girerek formunuzu doldurunuz. </p>
      </div>

      <div class="mx-auto" style="width: 200px;">
        <%= form_tag form_init_path, method: "get" do %>
          <p>Öğrenci Numarası:<br> <%= text_field_tag :number %></p>
          <p>Kod:<br> <%= text_field_tag :code %></p>
          <%= submit_tag "Forma Git", class: "btn btn-warning" %>
        <% end %>
        <br/><br/><br/>
        <% if flash[:notice] %>
          <div class="alert alert-danger" role="alert"><%= flash[:notice] %></div>
        <% end %>
      </div>
  </form>
</div>