
<%= simple_form_for(@form, html: { novalidate: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :created_at, as: :date, html5: false %>
    <%= f.input :age, collection: 7..60, prompt: "-- Yaşınızı seçiniz --" %>
    <%= f.input :gender, collection: [ "Kız", "Erkek"], prompt: "-- Cinsiyet seçiniz --" %>
    <%= f.input :classroom, collection: [ "5. Sınıf", "6. Sınıf", "7. Sınıf", "8. Sınıf", "9. Sınıf", "10. Sınıf", "11. Sınıf", "12. Sınıf"], prompt: "-- Sınıfınızı seçiniz --" %>
    <%= f.input :siblings, collection: [ "Yok", "1", "2", "3", "4 ve üzeri"], prompt: "-- Kardeş sayısı seçiniz --"  %>
    <%= f.input :address, placeholder: "Semt" %>
    <%= f.input :internet_usage %>
    <%= f.input :mother_education %>
    <%= f.input :father_education %>
    <%= f.input :parent_status %>
    <%= f.input :mother_age %>
    <%= f.input :father_age %>
    <%= f.input :transportation %>
    <%= f.collection_radio_buttons :q1, [['1', ' 1 '] ,['2', ' 2 '], ['3', ' 3 '], ['4', ' 4 '], ['5',' 5 ']], :first, :last %>
    <%= f.input :q2 %>
    <%= f.input :q3 %>
    <%= f.input :q4 %>
    <%= f.input :q5 %>
    <%= f.input :q6 %>
    <%= f.input :q7 %>
    <%= f.input :q8 %>
    <%= f.input :q9 %>
    <%= f.input :q10 %>
    <%= f.input :q11 %>
    <%= f.input :q12 %>
    <%= f.input :q13 %>
    <%= f.input :q14 %>
    <%= f.input :q15 %>
    <%= f.input :q16 %>
    <%= f.input :q17 %>
    <%= f.input :q18 %>
    <%= f.input :q19 %>
    <%= f.input :q20 %>
    <%= f.input :q21 %>
    <%= f.input :q22 %>
    <%= f.input :q23 %>
    <%= f.input :q24 %>
    <%= f.input :q25 %>
    <%= f.input :q26 %>
    <%= f.input :q27 %>
    <%= f.input :q28 %>
    <%= f.input :q29 %>
    <%= f.input :q30 %>
    <%= f.input :q31 %>
    <%= f.input :q32 %>
    <%= f.input :q33 %>
    <%= f.input :q34 %>
    <%= f.input :q35 %>
    <%= f.input :q36 %>
    <%= f.input :q37 %>
    <%= f.input :q38 %>
    <%= f.input :q39 %>
    <%= f.input :q40 %>
    <%= f.input :q41 %>
    <%= f.input :q42 %>
    <%= f.input :q43 %>
    <%= f.input :q44 %>
    <%= f.input :q45 %>
    <%= f.input :q46 %>
    <%= f.input :q47 %>
    <%= f.input :q48 %>
    <%= f.input :q49 %>
    <%= f.input :q50 %>
    <%= f.input :q51 %>
    <%= f.input :q52 %>
    <%= f.input :q53 %>
    <%= f.input :q54 %>
    <%= f.input :q55 %>
    <%= f.input :q56 %>
    <%= f.input :q57 %>
    <%= f.input :q58 %>
    <%= f.input :q59 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
