<br>
<%= simple_form_for(@form, html: { novalidate: true }) do |f| %>
  <%= f.error_notification class: "alet alert-danger" %>
  <br>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">Cinsiyetiniz</label></div>
      <div class="col-4"><%= f.input :gender, label: false, collection: [ "Kız", "Erkek"], prompt: "-- Cinsiyet seçimi --" %></div>
    </div><br>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">Kaçıncı sınıfta okuyorsunuz</label></div>
      <div class="col-4">  <%= f.input :classroom, required: true, label: false, collection: [ "5. Sınıf", "6. Sınıf", "7. Sınıf", "8. Sınıf", "9. Sınıf", "10. Sınıf", "11. Sınıf", "12. Sınıf"], prompt: "-- Sınıf seçimi --" %></div>
    </div><br>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">Kaç Kardeşsiniz</label></div>
      <div class="col-4"><%= f.input :siblings, label: false, collection: [ "Yok", "1", "2", "3", "4 ve üzeri"], prompt: "-- Kardeş sayısı seçimi --"  %></div>
    </div><br>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">İkamet Semtiniz (Nerede Oturuyorsunuz?)</label></div>
      <div class="col-4"><%= f.input :address, placeholder: "Semt/Mahalle", label: false, label_html: { class: "label" }, class: "input-xlarge" %></div>
    </div><br>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">Annenizin Eğitim Düzeyi</label></div>
      <div class="col-4"><%= f.input :mother_education, label: false, collection: [ "İlkokul", "Ortaokul", "Lise", "Üniversite", "Diğer", "Hiçbiri"], prompt: "-- Anne eğitimi seçimi --" %></div>
    </div><br>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">Babanızın Eğitim Düzeyi</label></div>
      <div class="col-4"><%= f.input :father_education, label: false, collection: [ "İlkokul", "Ortaokul", "Lise", "Üniversite", "Diğer", "Hiçbiri"], prompt: "-- Baba eğitimi seçimi --" %></div>
    </div><br>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">Anne/Babanız</label></div>
      <div class="col-4"><%= f.input :parent_status, label: false, collection: ["Beraber", "Boşanmış"], prompt: "-- Durum seçimi --" %></div>
    </div><br>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">Anne yaşı</label></div>
      <div class="col-4"><%= f.input :mother_age, label: false, collection: 18..70, prompt: "-- Yaş seçimi --" %></div>
    </div><br>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">Babanızın yaşı</label></div>
      <div class="col-4"><%= f.input :father_age, label: false, collection: 18..70, prompt: "-- Yaş seçimi --" %></div>
    </div><br>
    <div class="row justify-content-start">
      <div class="col-4 text-right"><label class="">Hangi ulaşım aracıyla okuldan-eve, evden-okula gitmektesiniz?</label></div>
      <div class="col-4"><%= f.input :transportation, label: false, collection: ["Yürüyerek", "Bisikletle", "Servisle", "Özel Araçla", "Toplu Taşıma Aracıyla", "Diğer"], prompt: "-- Durum seçimi --" %></div>
    </div>
  <div class="alert alert-danger" role="alert">
    <p>Seçeceğiniz ifadelere göre formda cevaplamanız istenen <b>55-59</b>  madde vardır.</p>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th style="width:300px;" scope="col" class="bg-success text-light text-center">#</th>
          <th scope="col" class="bg-success text-light text-center">Kesinlikle Katılmıyorum</th>
          <th scope="col" class="bg-success text-light text-center">Katılmıyorum</th>
          <th scope="col" class="bg-success text-light text-center">Ne Katılıyorum Ne Katılmıyorum</th>
          <th scope="col" class="bg-success text-light text-center">Katılıyorum</th>
          <th scope="col" class="bg-success text-light text-center">Kesinlikle Katılıyorum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="width:300px;" scope="row">1 - Okulumuz şiddet ve saldırı olaylarının yaşandığı bir çevrede <b>değildir.</b></th>
          <td class="text-center"><%= f.radio_button :q1,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q1,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q1,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q1,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q1,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">2 - Okulumuzda herhangi bir problem yaşadığımda yöneticilerin, öğretmenlerin ve arkadaşlarımın bana yardımcı olacağını bilirim.</th>
          <td class="text-center"><%= f.radio_button :q2,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q2,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q2,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q2,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q2,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">3 - Öğretmenler, öğrenciler, veliler, okul yönetimi ve okul personeli arasında güçlü bir iletişim ve iş birliği vardır.</th>
          <td class="text-center"><%= f.radio_button :q3,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q3,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q3,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q3,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q3,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">4 - Okulumuzun kütüphaneleri ihtiyaçlarımızı karşılayacak sayıda, büyüklükte ve fiziksel özelliktedir.</th>
          <td class="text-center"><%= f.radio_button :q4,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q4,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q4,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q4,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q4,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">5 - Okulumuzda hırsızlık olayları <b>yaşanmaz</b>.</th>
          <td class="text-center"><%= f.radio_button :q5,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q5,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q5,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q5,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q5,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">6 - Okul kurallarına uyulmadığında yönetici ve öğretmenlerimiz tarafından gerekli uyarılar yapılır ve yaptırımlar uygulanır.</th>
          <td class="text-center"><%= f.radio_button :q6,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q6,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q6,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q6,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q6,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">7 - Okulumuz bizi akran zorbalığı (okul arkadaşı tarafından yapılan rahatsız edici davranışlar), istismar (yetişkin tarafından yapılan rahatsız edici davranışlar) vb. durumlarda yapmamız gerekenler konusunda bilgilendirir.</th>
          <td class="text-center"><%= f.radio_button :q7,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q7,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q7,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q7,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q7,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">8 - Okulumuzda kullanılan malzemeler (temizlik malzemeleri, sınıf içi etkinlik ve süsleme malzemeleri vb.) sağlıklıdır.</th>
          <td class="text-center"><%= f.radio_button :q8,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q8,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q8,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q8,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q8,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">9 - Okulumuzun yakınında sağlığa zararlı maddeler <b>kullanılmamaktadır</b>.</th>
          <td class="text-center"><%= f.radio_button :q9,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q9,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q9,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q9,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q9,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">10 - Okulumuz bizi internet güvenliği için alınan önlemler ve yapmamız gerekenler konusunda bilgilendirir.</th>
          <td class="text-center"><%= f.radio_button :q10,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q10,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q10,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q10,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q10,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">11 - Servis araçlarına servis ablası/abisi ve nöbetçi öğretmen eşliğinde biner ve ineriz.</th>
          <td class="text-center"><%= f.radio_button :q11,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q11,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q11,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q11,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q11,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">12 - Okul servislerine güvenli bir alanda biner ve okul servislerinden güvenli bir alanda ineriz.</th>
          <td class="text-center"><%= f.radio_button :q12,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q12,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q12,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q12,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q12,['5'] %></td>
        </tr>
        <tr id="s1">
          <th style="width:300px;" scope="row">13 - Okulumuzun giriş-çıkışlarında ve bahçesinde yeterli aydınlatma vardır.</th>
          <td class="text-center"><%= f.radio_button :q13,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q13,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q13,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q13,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q13,['5'] %></td>
        </tr>
        <tr id="s2">
          <th style="width:300px;" scope="row">14 - Okulumuzun pencereleri ihtiyaçlarımızı karşılayacak sayıda, büyüklükte ve fiziksel özelliktedir.</th>
          <td class="text-center"><%= f.radio_button :q14,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q14,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q14,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q14,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q14,['5'] %></td>
        </tr>
        <tr id="s3">
          <th style="width:300px;" scope="row">15 - Okulumuzun giriş-çıkışlarında ve bahçesinde güvenlik kameraları vardır.</th>
          <td class="text-center"><%= f.radio_button :q15,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q15,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q15,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q15,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q15,['5'] %></td>
        </tr>
        <tr id="s4">
          <th style="width:300px;" scope="row">16 - Okulumuzun içindeki her yer nöbetçi öğretmenlerin ve kameraların görüş alanı içerisindedir.</th>
          <td class="text-center"><%= f.radio_button :q16,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q16,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q16,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q16,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q16,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">17 - Okulumuzda şiddet olayları <b>yaşanmaz</b>.</th>
          <td class="text-center"><%= f.radio_button :q17,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q17,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q17,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q17,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q17,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">18 - Okul yolunda kendimizi güvensiz hissedeceğimiz bir durumla karşılaşmayız.</th>
          <td class="text-center"><%= f.radio_button :q18,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q18,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q18,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q18,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q18,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">19 - Okulumuz bizi sağlık sorunları (salgın hastalıklar, bit vb.) hakkında haberdar eder ve yapmamız gerekenler konusunda bilgilendirir.</th>
          <td class="text-center"><%= f.radio_button :q19,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q19,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q19,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q19,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q19,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">20 - Okulumuzda kimseye yönelik baskı ve ayrımcılık <b>yapılmaz</b>.</th>
          <td class="text-center"><%= f.radio_button :q20,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q20,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q20,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q20,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q20,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">21 - Servis şoförümüz ve servis ablamız/abimiz serviste bulunduğumuz sırada güvenliğimizi sağlar.</th>
          <td class="text-center"><%= f.radio_button :q21,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q21,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q21,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q21,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q21,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">22 - Okul kuralları açık, net ve tutarlıdır.</th>
          <td class="text-center"><%= f.radio_button :q22,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q22,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q22,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q22,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q22,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">23 - Okulumuzda deprem, sel baskını, yangın, kimyasal sızıntı ve saldırı gibi olası risklere karşı tatbikatlar yapılmaktadır.</th>
          <td class="text-center"><%= f.radio_button :q23,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q23,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q23,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q23,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q23,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">24 - Okulumuzda başımıza bir şey geldiğinde ya da kendimizi iyi hissetmediğimizde öğretmenlerimiz bunu fark eder ve bize yardımcı olur.</th>
          <td class="text-center"><%= f.radio_button :q24,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q24,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q24,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q24,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q24,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">25 - Okulumuzda kendimizi güvende hissederiz.</th>
          <td class="text-center"><%= f.radio_button :q25,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q25,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q25,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q25,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q25,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">26 - Okulumuzda veli ve ziyaretçi giriş-çıkışlarının kayıt, kontrol ve denetimi yapılmaktadır.</th>
          <td class="text-center"><%= f.radio_button :q26,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q26,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q26,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q26,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q26,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">27 - Okul ortamında yaşadığım bir problemle ilgili (sataşma, şiddet vb.) kimden yardım alabileceğimi bilirim.</th>
          <td class="text-center"><%= f.radio_button :q27,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q27,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q27,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q27,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q27,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">28 - Okulumuzun koridorları ihtiyaçlarımızı karşılayacak sayıda, büyüklükte ve fiziksel özelliktedir.</th>
          <td class="text-center"><%= f.radio_button :q28,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q28,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q28,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q28,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q28,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">29 - Okulumuzda düşmemize veya yaralanmamıza neden olabilecek fark edilmesi zor olan cam kapılar <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q29,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q29,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q29,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q29,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q29,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">30 - Okulumuzda (bahçe, bina ve koridorlar) nöbet tutan yeterli sayıda öğretmen vardır.</th>
          <td class="text-center"><%= f.radio_button :q30,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q30,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q30,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q30,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q30,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">31 - Okulumuzun yakınında tehlike oluşturabilecek tenha parklar, bahçeler ve boş binalar <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q31,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q31,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q31,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q31,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q31,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">32 - Okulumuzda düşmemize veya yaralanmamıza neden olabilecek ıslak ve kaygan zeminler <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q32,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q32,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q32,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q32,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q32,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">33 - Okula giriş-çıkışlar, güvenlik görevlisi gözetiminde yapılmaktadır.</th>
          <td class="text-center"><%= f.radio_button :q33,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q33,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q33,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q33,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q33,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">34 - Okulumuzda akran zorbalığı (okul arkadaşı tarafından yapılan rahatsız edici davranışlar) <b>yaşanmaz</b>.</th>
          <td class="text-center"><%= f.radio_button :q34,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q34,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q34,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q34,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q34,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">35 - Okulumuzda düşmemize veya yaralanmamıza neden olabilecek alçak ve korunaksız pencereler <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q35,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q35,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q35,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q35,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q35,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">36 - Okulumuzda (sınıf, koridorlar, laboratuvar, spor salonu, soyunma odaları ve yüzme havuzu, yemekhane, kantin, tuvaletler, okul bahçesi) temizlik ve hijyen sorunu <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q36,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q36,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q36,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q36,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q36,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">37 - Okulumuzda küçük sağlık sorunlarına (yaralanma, bayılma vb.) karşı ilk müdahaleyi öğretmenlerimiz / yöneticilerimiz / görevliler yapabilir.</th>
          <td class="text-center"><%= f.radio_button :q37,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q37,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q37,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q37,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q37,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">38 - Okul yolunda kendimizi güvensiz hissedeceğimiz bir durumla karşılaşmayız.</th>
          <td class="text-center"><%= f.radio_button :q38,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q38,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q38,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q38,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q38,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">39 - Okulumuzda okul eşyalarına zarar verme olayları <b>yaşanmaz</b>.</th>
          <td class="text-center"><%= f.radio_button :q39,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q39,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q39,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q39,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q39,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">40 - Okulumuz bizi sağlığa zararlı madde kullanımı ile ilgili alınacak önlemler ve yapmamız gerekenler konusunda bilgilendirir.</th>
          <td class="text-center"><%= f.radio_button :q40,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q40,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q40,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q40,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q40,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">41 - Okulumuzun yemekhaneleri ihtiyaçlarımızı karşılayacak sayıda, büyüklükte ve fiziksel özelliktedir.</th>
          <td class="text-center"><%= f.radio_button :q41,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q41,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q41,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q41,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q41,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">42 - Okulumuz bizi okul yolunda (yaya, araç ve servisle ulaşım) karşılaşabileceğimiz güvenlik riskleri konusunda bilgilendirir.</th>
          <td class="text-center"><%= f.radio_button :q42,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q42,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q42,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q42,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q42,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">43 - Okulumuz bizi şiddet, saldırı ve terör gibi durumlar için alınan önlemler ve yapmamız gerekenler konusunda bilgilendirir.</th>
          <td class="text-center"><%= f.radio_button :q43,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q43,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q43,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q43,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q43,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">44 - Okulumuz bizi deprem, sel baskını, yangın, kimyasal sızıntı gibi durumlar için alınan önlemler ve yapmamız gerekenler konusunda bilgilendirir.</th>
          <td class="text-center"><%= f.radio_button :q44,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q44,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q44,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q44,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q44,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">45 - Okulumuz bizi okul kuralları ve bu kurallara uyulmaması durumunda yapılacak işlemler hakkında bilgilendirir.</th>
          <td class="text-center"><%= f.radio_button :q45,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q45,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q45,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q45,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q45,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">46 - Okulumuzda düşmemize veya yaralanmamıza neden olabilecek farklı yükseklikteki zemin ve merdiven basamakları <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q46,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q46,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q46,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q46,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q46,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">47 - Okulumuzun spor salonları ihtiyaçlarımızı karşılayacak sayıda, büyüklükte ve fiziksel özelliktedir.</th>
          <td class="text-center"><%= f.radio_button :q47,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q47,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q47,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q47,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q47,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">48 - Okulumuzda bizi rahatsız eden ve kötü davranan gruplar <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q48,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q48,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q48,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q48,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q48,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">49 - Okul binasına giriş-çıkışlarımız, yönetici ve/veya öğretmen gözetiminde yapılmaktadır.</th>
          <td class="text-center"><%= f.radio_button :q49,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q49,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q49,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q49,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q49,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">50 - Okulumuzun sınıfları ihtiyaçlarımızı karşılayacak sayıda, büyüklükte ve fiziksel özelliktedir.</th>
          <td class="text-center"><%= f.radio_button :q50,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q50,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q50,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q50,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q50,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">51 - Okulumuzda eğitim, dışarıdan gelen ses ve gürültüden <b>etkilenmemektedir</b>.</th>
          <td class="text-center"><%= f.radio_button :q51,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q51,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q51,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q51,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q51,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">52 - Her ihtiyaç duyduğumda okul revirinden (sağlık odası) yararlanırım.</th>
          <td class="text-center"><%= f.radio_button :q52,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q52,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q52,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q52,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q52,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">53 - Okulumuzun bahçesi korunaklı duvarlar ve/veya tel örgülerle çevrilidir.</th>
          <td class="text-center"><%= f.radio_button :q53,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q53,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q53,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q53,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q53,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">54 - Okulumuzda, öğretmen, veli ve ziyaretçi geliş gidişlerinde araçlara inilip binilen güvenli bir alan mevcuttur.</th>
          <td class="text-center"><%= f.radio_button :q54,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q54,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q54,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q54,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q54,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">55 - Okulumuzun tuvaletleri ihtiyaçlarımızı karşılayacak sayıda, büyüklükte ve fiziksel özelliktedir.</th>
          <td class="text-center"><%= f.radio_button :q55,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q55,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q55,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q55,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q55,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">56 - Okulumuzda düşmemize veya yaralanmamıza neden olabilecek sabitlenmemiş okul eşyaları <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q56,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q56,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q56,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q56,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q56,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">57 - Okulumuzun bahçesindeki her yer, nöbetçi öğretmenlerin ve kameraların görüş alanı içerisindedir.</th>
          <td class="text-center"><%= f.radio_button :q57,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q57,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q57,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q57,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q57,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">58 - Okulumuzda yaralanmamıza neden olabilecek kesici, delici, sivri uçlu okul eşyaları ve uygun koşullarda muhafaza edilmeyen malzemeler <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q58,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q58,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q58,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q58,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q58,['5'] %></td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row">59 - Okulumuzda düşmemize veya yaralanmamıza neden olabilecek korkuluksuz merdivenler <b>yoktur</b>.</th>
          <td class="text-center"><%= f.radio_button :q59,['1'] %></td>
          <td class="text-center"><%= f.radio_button :q59,['2'] %></td>
          <td class="text-center"><%= f.radio_button :q59,['3'] %></td>
          <td class="text-center"><%= f.radio_button :q59,['4'] %></td>
          <td class="text-center"><%= f.radio_button :q59,['5'] %></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col text-right"><%= link_to 'İptal', form_init_path, class: 'btn btn-dark' %> <%= f.button :submit, value: 'Formu Tamamla', class: 'btn btn-success' %></div>
    </div>

<% end %>
