<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @form.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @form.gender %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @form.classroom %>
</p>

<p>
  <strong>Siblings:</strong>
  <%= @form.siblings %>
</p>

<p>
  <strong>Address:</strong>
  <%= @form.address %>
</p>

<p>
  <strong>Internet usage:</strong>
  <%= @form.internet_usage %>
</p>

<p>
  <strong>Mother education:</strong>
  <%= @form.mother_education %>
</p>

<p>
  <strong>Father education:</strong>
  <%= @form.father_education %>
</p>

<p>
  <strong>Parent status:</strong>
  <%= @form.parent_status %>
</p>

<p>
  <strong>Mother age:</strong>
  <%= @form.mother_age %>
</p>

<p>
  <strong>Father age:</strong>
  <%= @form.father_age %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @form.transportation %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @form.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @form.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @form.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @form.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @form.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @form.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @form.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @form.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @form.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @form.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @form.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @form.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @form.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @form.q14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @form.q15 %>
</p>

<p>
  <strong>Q16:</strong>
  <%= @form.q16 %>
</p>

<p>
  <strong>Q17:</strong>
  <%= @form.q17 %>
</p>

<p>
  <strong>Q18:</strong>
  <%= @form.q18 %>
</p>

<p>
  <strong>Q19:</strong>
  <%= @form.q19 %>
</p>

<p>
  <strong>Q20:</strong>
  <%= @form.q20 %>
</p>

<p>
  <strong>Q21:</strong>
  <%= @form.q21 %>
</p>

<p>
  <strong>Q22:</strong>
  <%= @form.q22 %>
</p>

<p>
  <strong>Q23:</strong>
  <%= @form.q23 %>
</p>

<p>
  <strong>Q24:</strong>
  <%= @form.q24 %>
</p>

<p>
  <strong>Q25:</strong>
  <%= @form.q25 %>
</p>

<p>
  <strong>Q26:</strong>
  <%= @form.q26 %>
</p>

<p>
  <strong>Q27:</strong>
  <%= @form.q27 %>
</p>

<p>
  <strong>Q28:</strong>
  <%= @form.q28 %>
</p>

<p>
  <strong>Q29:</strong>
  <%= @form.q29 %>
</p>

<p>
  <strong>Q30:</strong>
  <%= @form.q30 %>
</p>

<p>
  <strong>Q31:</strong>
  <%= @form.q31 %>
</p>

<p>
  <strong>Q32:</strong>
  <%= @form.q32 %>
</p>

<p>
  <strong>Q33:</strong>
  <%= @form.q33 %>
</p>

<p>
  <strong>Q34:</strong>
  <%= @form.q34 %>
</p>

<p>
  <strong>Q35:</strong>
  <%= @form.q35 %>
</p>

<p>
  <strong>Q36:</strong>
  <%= @form.q36 %>
</p>

<p>
  <strong>Q37:</strong>
  <%= @form.q37 %>
</p>

<p>
  <strong>Q38:</strong>
  <%= @form.q38 %>
</p>

<p>
  <strong>Q39:</strong>
  <%= @form.q39 %>
</p>

<p>
  <strong>Q40:</strong>
  <%= @form.q40 %>
</p>

<p>
  <strong>Q41:</strong>
  <%= @form.q41 %>
</p>

<p>
  <strong>Q42:</strong>
  <%= @form.q42 %>
</p>

<p>
  <strong>Q43:</strong>
  <%= @form.q43 %>
</p>

<p>
  <strong>Q44:</strong>
  <%= @form.q44 %>
</p>

<p>
  <strong>Q45:</strong>
  <%= @form.q45 %>
</p>

<p>
  <strong>Q46:</strong>
  <%= @form.q46 %>
</p>

<p>
  <strong>Q47:</strong>
  <%= @form.q47 %>
</p>

<p>
  <strong>Q48:</strong>
  <%= @form.q48 %>
</p>

<p>
  <strong>Q49:</strong>
  <%= @form.q49 %>
</p>

<p>
  <strong>Q50:</strong>
  <%= @form.q50 %>
</p>

<p>
  <strong>Q51:</strong>
  <%= @form.q51 %>
</p>

<p>
  <strong>Q52:</strong>
  <%= @form.q52 %>
</p>

<p>
  <strong>Q53:</strong>
  <%= @form.q53 %>
</p>

<p>
  <strong>Q54:</strong>
  <%= @form.q54 %>
</p>

<p>
  <strong>Q55:</strong>
  <%= @form.q55 %>
</p>

<p>
  <strong>Q56:</strong>
  <%= @form.q56 %>
</p>

<p>
  <strong>Q57:</strong>
  <%= @form.q57 %>
</p>

<p>
  <strong>Q58:</strong>
  <%= @form.q58 %>
</p>

<p>
  <strong>Q59:</strong>
  <%= @form.q59 %>
</p>

<%= link_to 'Edit', edit_form_path(@form), class: "btn btn-warning" %>
<%= link_to 'Back', forms_path, class: "btn btn-dark" %>


</div>
